@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
.Card {
    width: 100%;
    height: 100%;
    background-color: white;
    padding:20px 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    border-radius: 8px;
    box-shadow: 5px 9px 15px 0 rgba(125, 125, 125, 0.2);
    transition: 0.85s ease;
    opacity: 0;

}
.Card:nth-child(4) {
    transform: scale(0.3) translateY(850px);
}
.Card:nth-child(3) {
    transform: scale(0.3) translateY(650px);
}
.Card:nth-child(2) {
    transform: scale(0.3) translateY(400px);
}
.Card:nth-child(1) {
    transform: scale(0.3) translateY(300px);
}

.Card:hover {
    background: orange;
}
.Card:hover i {
    color: white;
}
.Card:hover p {
    color: white;
}
.Card:hover h3 {
    color: white;
}
.Card i {
    color: orange;
    font-size: 50px;
    font-weight: bolder;
    transition: color 0.7s ease;
}
.Card span {
    margin: 10px 0px;
}
.Card h3 {
    font-family: 'Nunito-Bold', arial;
    transition: color 0.4s ease;
}
.Card p {
    color: #6c6c6c;
}