.gallery {
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.caption {
    margin:0px auto;
    text-align: center;
    padding: 90px 0;
    width: 80%;
}
.caption h3 {
    color: orangered;
}
.caption span {
    color: orangered;
}
.caption h2 {
    margin-top: 10px;
    font-size: 40px;
}
.caption p {
    color: rgb(77, 87, 101);
    padding: 15px 40px;
    line-height: 1.6;
}